<h1>{{title}}</h1>
<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
    <input type="text" ngModel name="user" placeholder="Enter the Name"/>
    <br><br>
    <input type="text" ngModel name ="Email" placeholder="Enter Email">
    <br><br>
    <input type="password" ngModel name="password" placeholder="password">
    <br><br>
    <button>Submit</button>
    <ul>
        <li>{{userData.user}}</li>
        <li>{{userData.Email}}</li>
        <li>{{userData.password}}</li>
    </ul>

</form>
<br><br>
<input type="text" #box (keydown)="getValue(box.value)" placeholder="Key Up">
<br><br>
<input type="text" #box1 (keydown)="getValue(box1.value)" placeholder="Key Up">
<br><br>
<p>
    Box Value is : {{DisplayVal}}
</p>
<button type="button" (click)="getName('Irfan Ali')" >click Me</button>
<app-user-list></app-user-list>
<app-login></app-login>
<button type="button" (click)="counter()">++</button>
<br><br>
<p>
    counter : {{count}}
</p>
<button type="button" (click)="counter1()">--</button>
<h1 [style.color]="color">{{title}}</h1>
<button (click)="updateColor()">Update Color</button>
<app-header></app-header>